.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 40px;
    color: #6A6666
}

.calendar-header-title {
    width: 50%;
    text-align: center;
}

.calendar-nav {
    cursor: pointer;
}